<!-- 
    See this is all pretty basic and good code still,
    but the main point of angular is to modulize and 
    let it all be unique. These small components can 
    work together, or even better just have values 
    passed to them. Let the code be efficient, but
    also simple.

    Let's make it all different components
 --> 

<div class="course-card">

    <div class="course-title">
        <p>Angular Basics</p>
    </div>

    <div class="class-photo">
        <img src="assets/one-book.webp">
    </div>

    <div class="course-disc">
        <p>This course covers the basics of Angular in significant detail</p>
    </div>


</div>