
<!-- This is for routing, which is covered later -->
<router-outlet></router-outlet>
<!-- 
    Often, the data needs input from the user 
    So let's explore it using the idea of a 
    note taking app

    Pass the value along that is needed, 
    and make sure to follow through with 
    the input 

    We can also give methods to items,
    and let users interact more with 
    the code base. To demonstrate, the 
    note will be given different actions
    based on the click, but other events 
    can be added, just within the parathesis

    Let's make a custom event, to make 
    the component even more unique, and 
    make sure that something is happening
    on all levels. This ensures that values
    would update, and what the user is trying 
    to do will actually happen

    Note that the ($event) is in essence acting
    as a wild card, letting the program know 
    it is using a custom event, all thanks to 
    the @Output feature in angular core

    Now this is nice but people take lots of notes,
    and hard coding every note is just ridiculous. 
    So let's make a way to print them all out via
    the model Note and ngFor, one of the most commonly
    used core directives

    ngFor is a structural directive, hence it helps
    change up how the structure is laid out and gives
    information for it as needed. It also comes with 
    special features, such as index,  

-->

<app-note-card 
    (noteCLicked)="onNoteClicked($event)"
    *ngFor="let noteCard of notes; index"
    [noteCard]="noteCard"
    ></app-note-card>
