
<!-- This is for routing, which is covered later -->
<router-outlet></router-outlet>
<!-- 
    Often, the data needs input from the user 
    So let's explore it using the idea of a 
    note taking app

    Pass the value along that is needed, 
    and make sure to follow through with 
    the input 

    We can also give methods to items,
    and let users interact more with 
    the code base. To demonstrate, the 
    note will be given different actions
    based on the click, but other events 
    can be added, just within the parathesis

    Let's make a custom event, to make 
    the component even more unique
-->

<app-note-card (noteSelected)="onNoteClicked()" [noteCard]="groceryList"></app-note-card>

<app-note-card (click)="onNoteClicked()"[noteCard]="phoneCard"></app-note-card>