<!-- 
    This now will use the variable that 
    was made to call the information and 
    display it for the user via the model

    We can also give methods to items,
    and let users interact more with 
    the code base. To demonstrate, the 
    button will be given different actions
    based on the click, but other events 
    can be added, just within the parathesis
 -->

<h1> {{ noteCard.title }} </h1>

<p> {{ noteCard.content }} </p>

<button (click)="buttonClicked()">Check Note</button>